h1 {
  color: #1caaec;


}

h2 {
  font-style: italic;
  color: #12448d;
}

p {
  color: #444444;
}

body {
  background-color: #f7f7f7;
  font-family: Arial;
  text-align: center;
  font-size: 18px;

}
