h1 {
  color: #963509;
  text-align: center;
  }

  h2 {
    font-style: italic;
    text-align: center;
    color: #e84d00;
  }

  p {
    color: #444444;
  }

  body {
    background-color: #f4d6c8;
  }
